*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background-image{
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 850px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgba(31, 31, 31, 0.7);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    background-color: black;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 70%;
    }

}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0; translateX(50px);
    }
    to{
        opacity: 1; translateX(0px);
    }
}

h1 {
    color: white;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top: 340px;
}

.header{
    color: white;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
}